/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* varaibles */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: var(--light-gray);
}

img {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

h3 {
  color: var(--dark-blue);
  margin-bottom: 0.875rem;
}

p {
  font-size: 15px;
  color: var(--grayish-blue);
  margin-bottom: 0.875rem;
}

/* main section */
.section-center {
  height: calc(100vh - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background: var(--white);
  width: 85vw;
  max-width: 310px;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.card-info {
  padding: 1.2rem 1rem;
}

/* footer */
.attribution {
  height: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
